PORT="8000"
NODE_ENV="development"

SESSION_SECRET="session_secret_key"
SESSION_EXPIRES_IN="7d"

GOOGLE_CLIENT_ID="<CONSOLE_CLOUD_GOOGLE>"
GOOGLE_CLIENT_SECRET="<CONSOLE_CLOUD_GOOGLE>"

DATABASE_URL="<NEON_DB>"
DATABASE_URL_LOCAL="postgresql://postgres:<YOUR_PASSWORD>@localhost:5432/<PROJECT_NAME>?schema=public"

BACKEND_ORIGIN=<BACKEND_ORIGIN>
BACKEND_GOOGLE_CALLBACK_URL=<backend_origin>/api/auth/google/callback

FRONTEND_ORIGIN=<FRONTEND_ORIGIN>
REDIS_URI="<REDIS_UPSTASH->Connect->TCP>"
REDIS_URI_LOCAL="redis://localhost:6379"
GEMINI_API_KEY="<AISTUDIO_GOOGLE>"
